<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="nofollow" />
  <meta name="google" content="notranslate" />
  <meta name="description" content="OpenOLAT - infinite learning" />
  <meta name="keywords" content="OpenOLAT, OLAT, eLearning, learning platform, LMS, Learning Management System, LCMS, Learning Content Management System, Open Source, elearning, JAVA, IMS, QTI, SCORM, Content package, collaboration, usability, performance, scalability." />
  <meta name="dcterms.creator" content="OpenOLAT - http://www.openolat.org" />
  <meta name="dcterms.subject" content="OpenOLAT - infinite learning - Your Open Source Learning Management System" />
  <meta name="dcterms.contributor" content="see http://www.openolat.org" />
  <meta name="dcterms.date" content="2010-03-16" />
  <meta name="dcterms.type" content="Interactive Resource" />
  <meta name="dcterms.identifier" content="http://www.openolat.org" />
  <meta name="dcterms.rights" content="http://www.openolat.org" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

	<title>{{#if title}}{{title}} – {{/if}}{{meta.project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">

	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

	{{#if env.dev}}
		<link rel="stylesheet" href="/preview/assets/css/dev.css">
		<script src="/preview/assets/js/dev.js"></script>
	{{/if}}

</head>
<body {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}} id="o_body" class="o_lang_en $pageSizeCss">>
	{{#block "header"}}
	{{/block}}

	<div class="l-wrapper" id="main">
		{{#block "content"}}
		{{/block}}
	</div>

	<script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js"></script>

	{{#block "scripts"}}
	{{/block}}
</body>
</html>
